.lightbulb-row {
  clear: both;
  padding: 15px;
  border: 1px solid purple;
  & > div {
    display: inline-block;
  }
}
.lightbulb-name {
  font-size: 24px;
  width: 15%;
  padding: 10px;
  overflow: hidden;
  color: white;
  cursor: default;
}

.hsv-control-wrapper,.ct-control-wrapper {
  width: 50%;
  height: 40px;
}
.power-control-wrapper {
  float: right;
  margin-right: 20px;
}