<div *ngIf="lightbulb">
    <div class="slider-wrapper">
        <slider [background]="hueBackground"
                [value]="lightbulb.hue"
                [minValue]="1"
                [maxValue]="359"
                (onValueChange)="hueChange($event)"></slider>
    </div>
    <div class="slider-margin disable-select">MARGIN</div>
    <div class="slider-wrapper">
        <slider [background]="satBackground"
                [value]="lightbulb.sat"
                [minValue]="1"
                [maxValue]="100"
                (onValueChange)="satChange($event)"></slider>
    </div>
    <div class="slider-margin disable-select">MARGIN</div>
    <div class="slider-wrapper">
        <slider [background]="brightBackground"
                [value]="lightbulb.bright"
                [minValue]="1"
                [maxValue]="100"
                (onValueChange)="brightnessChange($event)"></slider>
    </div>
</div>
