$width: 100%;
$height: 100%;
.slider {
  height: 100%;
  min-height: 20px;
  min-width: 100px;
  width: 100%;
  display: inline-grid;
}
.slider-bar {
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  .slider-indicator {
    border: 1px solid black;
    height: calc(100% + 6px);
    width: 10px;
    position: relative;
    top: -4px;
    background: rgba(255,255,255, 0.5);
    &:before {
      background: linear-gradient(red,blue);
      content: '';
      display: block;
      height: 100%;
      position: relative;
      width: 1px;
      left: 4px;
    }
  }
}
