button {
    height: 100%;
    width: 100%;
}
mat-icon {
    font-size: 48px;
    height: 48px;
    width: 48px;
}
.light-off {
    color: rgba(0,0,0,0.6);
}
.room {
    background-color: lightgray;
}
mat-grid-list {
    max-width: 80vh
}