.map-section svg {
    max-height: calc(100vh - 64px);
    max-width: 100vw;
}
@media screen and (orientation:landscape) {
  .map-section svg {
    transform: rotate(-90deg);
    max-height: 100vw;
    max-width: calc(100vh - 64px);
    position: absolute;
    top: -22vh;
    left: 23vh;
  }
}
.room {
  stroke-width: 16px;
  stroke: #555555;
  fill: #FFFFFF;
}
.window-rect {
  stroke-width: 1px;
  stroke: #000000;
  fill: #FFFFFF;
}
.door-frame {
  stroke-width: 1px;
  stroke: #FFFFFF;
  fill: #FFFFFF;
}
.door-door {
  stroke-width: 8px;
  stroke: brown;
}
.balcony {
  fill: gray;
}

.light-icon {
    cursor: pointer;
    user-select: none;
}
.light-icon.light-on {
    fill: orange;
}