$color1: cyan;
$color2: darkcyan;
$color3: darkblue;
$top-bar-height: 50px;
.top-bar {
  height: $top-bar-height;
  background: linear-gradient($color1, $color2);
  .nav-bar-button {
    padding: 10px;
    float: left;
  }
  .poweroff-button {
    float: right;
    background-color: red;
    color: white;
    cursor: pointer;
  }
}
.app-body {
    background: linear-gradient($color2, $color3);
    font-family: Verdana;
    height: calc(100% - #{$top-bar-height});
    width: 100%;
  ng-component {
    height: 100%;
    width: 100%;
  }
}


