.top-bar {
  height: 50px;
  background: linear-gradient(cyan, darkgray);
  .nav-bar-button {
    padding: 10px;
    float: left;
  }
  .poweroff-button {
    float: right;
    background-color: red;
    color: white;
    cursor: pointer;
  }
}
.app-body {
    background: linear-gradient(darkgray, gray);
    font-family: Verdana;
    height: 100%;
    width: 100%;
  ng-component {
    height: 100%;
    width: 100%;
  }
}


