<div *ngIf="lightbulb">
    <div class="slider-wrapper">
        <slider [background]="CT_BACKGROUND"
                [value]="lightbulb.ct"
                [minValue]="1700"
                [maxValue]="6500"
                (onValueChange)="ctChange($event)"></slider>
    </div>
    <div class="slider-margin">MARGIN</div>
    <div class="slider-wrapper">
        <slider [background]="BRIGHT_BACKGROUND"
                [value]="lightbulb.bright"
                [minValue]="1"
                [maxValue]="100"
                (onValueChange)="brightnessChange($event)"></slider>
    </div>
</div>
